/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
    margin: 0px;
    padding: 0px;
    margin-bottom: 21px;
}

nav .content{
    background-color: #562EFF;
    width: 100%;
    height: 94px;
    position: sticky;
    margin: auto;
    padding-left: 15px;
}

nav .logo{
    display: flex;
    align-items: center;
    float: left;
}

nav .logo img{
    width: 40.42px;
    height: 51px;
}

nav .logo h2{
    color: #FFFFFF;
    margin-left: 20px;
}

nav .menu{
    float: right;
    margin-right: 15px;
}

nav .menu ul{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

nav .menu ul li{
    display: inline-block;
    list-style: none;
    margin-left: 36px;
    color: #FFFFFF;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container{
    background-color: #FFFFFF;
    width: 870px;
    padding: 30px;
    margin-top: 21px;
    border-radius: 20px;
}

/* top players style */
.section-heading{
    color: #562EFF;
    font-size: 24px;
    margin-top: 3px;
}

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player{
    display: flex;
    align-items: center;
}

.player img{
    height: 56px;
    width: 56px;
}

.player-name{
    margin-left: 16px;
    font-size: 18px;
}

hr{
    border: 1px solid #D1D1D1;
    margin: 30px 0;
}


/* blogs styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
    margin-top: 31px;
}

.blog{
    display: flex;
}

.blog .thumbnail img{
    width: 177px;
    height: 117px;
}

.blog-info{
    margin-left: 16px;
}

.blog-title{
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
    width: 197px;
    height: 68px;
}

.blog-author{
    color: #9F9F9F;
    font-size: 16px;
    margin-top: 6px;
}

.blog-author a{
    text-decoration: none;
    font-size: none;
    font-weight: 400;
    color: #562EFF;
}

/* course style */
.courses{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 24px;
}

.course{
    width: 252.42px;
    height: 269.79px;
    border-radius: 5px;
    box-shadow: 0px 5.342289924621582px 13.35572338104248px 0px #0000000D;
}
.course .course-banner img{
    width: 224px;
    height: 104px;
    display: block;
    margin: auto;
    
}

.course-details{
    margin: 0px 12.2px;
}

.course-title{
    font-size: 18px;
    font-weight: 500;
}

.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.course-info .rating i{
    color: #FFC014;
    font-size: 12px;
}

.course-info .rating span{
    margin-left: 15px;
}

.course-info .rating i.fa-star.empty{
    color: #AEAEAE;
}

.course-info .course-duration{
    color: #FF4A60;
    background-color: #FFE4E8;
    width: 94.83px;
    height: 29.38px;
    border-radius: 14.69px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ----------------
   Media Queries
   ---------------*/

/* Mobile Devices */
@media only screen and (max-width: 935px){
    .container{
        width: 90%;
    }
    .section-heading{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        justify-content: center;
    }

    
}

@media only screen and (max-width: 860px){
    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        justify-content: center;
    }
}

@media only screen and (max-width: 893px){
    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .course{
        justify-content: center;
        margin: auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 688px) {
    .container{
        width: 90%;
        
    }
    .section-heading{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(2, 1fr);
    }
    .player{
        justify-content: center;
    }

    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        justify-content: center;
    }

    .courses{
        grid-template-columns: repeat(2, 1fr);
    }
    .course{
        justify-content: center;
        margin: auto;
        margin-top: 30px !important;
    }
}

@media only screen and (max-width: 601px) {
    .container{
        width: 90%;
    }
    .section-heading{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        justify-content: center;
    }

    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        justify-content: center;
    }

    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        display: block;
        width: 400px;
        margin: auto;
        padding: 15px 0px;
    }
}

@media only screen and (max-width: 521px) {
    nav .logo{
        margin-top: 5px;
    }
    nav .menu ul li{
        margin-left: 10px;
    }
    .container{
        width: 80%;
    }
    .section-heading{
        text-align: center;
    }
    .players{
        grid-template-columns: repeat(1, 1fr);
    }
    .player{
        justify-content: center;
    }

    .blogs{
        grid-template-columns: repeat(1, 1fr);
    }
    .blog{
        flex-direction: column;
        margin: auto;
    }
    .blog-info{
        margin-left: 0px;
    }
    
    .courses{
        grid-template-columns: repeat(1, 1fr);
    }
    .course{
        display: block;
        margin: auto;
        width: 252.42px;
    }
}

@media only screen and (max-width: 417px) {
    nav .logo{
        margin-top: 12px;
    }
    nav .logo img{
    width: 35px;
    height: 40px;
    }
    nav .logo h2{
        color: #FFFFFF;
        margin-left: 10px;
        font-size: 20px;
    }

    nav .menu ul li{
        margin-left: 5px;
    }
}